/*font-family: 'ZCOOL QingKe HuangYou', cursive;*/
/*font-family: 'Poppins', sans-serif;*/

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    line-height: 1.5;
    letter-spacing: 2px;

}

#title {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    line-height: 1.5;
    letter-spacing: 2px;
}

.row {
    margin: 0 auto;
    padding: 10px 100px;
}

#question {
    line-height: 2;
}

.col-md-3,
.col-md-6,
#results {
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
}


.cat-image {
    padding-right: 100px;
    float: right;
}

#your-score {
    height: auto;
    font-size: 2em;
    text-align: center;
}

.radioBtn {
    display: block;
    padding-right: 40px;
}
